.features {
    grid-column: center-start / center-end;
    margin: 8rem;
    padding: 6rem 0;
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      grid-gap: 2rem;
}

.feature {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1.5rem;
    align-content: start;
    width: 27rem;
   
}

.feature__icon {
    display: inline-block;
    font-size: 5rem;
    color: var(--color-primary);
    grid-row: 1 / span 2;
    transform: translateY(-1.5rem);
}

.u-heading--dark {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-gray-dark-1);
    margin-bottom: 0.5rem;
}

.u-paragraph {
    font-size: 1.4rem;
    line-height: 2.2rem;
    max-width: 250px;
}


@media (max-width: 1024px) {
    .features {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .features {
        grid-template-columns: 1fr;
    }
}
