.home_page{
    grid-column: center-start / center-end;
}
.properties_list {
    grid-column: center-start / center-end;
    margin: 8rem;
    padding: 6rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
}

.property_card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* برای جلوگیری از بیرون زدن محتوا */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* سایه اولیه */
    transition: all 300ms ease-in-out;
}
.property_card:hover {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); 
    transform: scale(1.05); 
}

.property_image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
  
.property_info {
    padding: 15px;
    text-align: left;
    background-color: var(--color-gray-light-1);
}
  
.property_info h3 {
    background: #222;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    position: absolute;
    width: 170px;
    top: 42%;
    right: 20%;
}
.property_main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.property_location, .property_price{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.property-info p {
    margin: 5px 0;
    color: #333;
}
.price {
    font-size: 16px;
    font-weight: bold;
    color: green;
}
  
.view_button {
    width: 100%;
    padding: 10px;
    background: #d4a373;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 5px;
}
  
.view-button:hover {
    background: #c58b56;
}
@media (max-width: 768px) {
    .properties_list {
        grid-template-columns: 1fr;
    }
}
